USE [master]
GO
/****** Object:  Database [Restaurant]    Script Date: 1/31/2020 1:25:33 PM ******/
CREATE DATABASE [Restaurant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Restaurant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Restaurant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Restaurant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurant]
GO
/****** Object:  Table [dbo].[BreakfastItems]    Script Date: 1/31/2020 1:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BreakfastItems](
	[ItemIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[Item] [nvarchar](max) NULL,
 CONSTRAINT [PK_BreakfastItems] PRIMARY KEY CLUSTERED 
(
	[ItemIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BreakfastOrderItems]    Script Date: 1/31/2020 1:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BreakfastOrderItems](
	[OrderItemIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[BreakfastIdentifier] [int] NULL,
	[GuestIdentifier] [int] NULL,
	[Quantity] [int] NULL,
	[ItemIdentifier] [int] NULL,
 CONSTRAINT [PK_BreakfastOrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BreakfastOrders]    Script Date: 1/31/2020 1:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BreakfastOrders](
	[BreakfastIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[GuestIdentifier] [int] NULL,
	[OrderDate] [datetime2](7) NULL,
 CONSTRAINT [PK_BreakfastOrders] PRIMARY KEY CLUSTERED 
(
	[BreakfastIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 1/31/2020 1:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[GuestIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[RoomIdentifier] [int] NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Guests] PRIMARY KEY CLUSTERED 
(
	[GuestIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 1/31/2020 1:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[RoomFloor] [int] NULL,
	[RoomDesginator] [nvarchar](1) NULL,
	[RoomNumber] [int] NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BreakfastItems] ON 

INSERT [dbo].[BreakfastItems] ([ItemIdentifier], [Item]) VALUES (1, N'2 Fried Eggs')
INSERT [dbo].[BreakfastItems] ([ItemIdentifier], [Item]) VALUES (2, N'2 Scrambled Eggs')
INSERT [dbo].[BreakfastItems] ([ItemIdentifier], [Item]) VALUES (3, N'2 Poached Eggs')
SET IDENTITY_INSERT [dbo].[BreakfastItems] OFF
SET IDENTITY_INSERT [dbo].[BreakfastOrderItems] ON 

INSERT [dbo].[BreakfastOrderItems] ([OrderItemIdentifier], [BreakfastIdentifier], [GuestIdentifier], [Quantity], [ItemIdentifier]) VALUES (1, 1, 1, 1, 2)
INSERT [dbo].[BreakfastOrderItems] ([OrderItemIdentifier], [BreakfastIdentifier], [GuestIdentifier], [Quantity], [ItemIdentifier]) VALUES (2, 2, 1, 2, 7)
INSERT [dbo].[BreakfastOrderItems] ([OrderItemIdentifier], [BreakfastIdentifier], [GuestIdentifier], [Quantity], [ItemIdentifier]) VALUES (3, 2, 1, 1, 18)
SET IDENTITY_INSERT [dbo].[BreakfastOrderItems] OFF
SET IDENTITY_INSERT [dbo].[BreakfastOrders] ON 

INSERT [dbo].[BreakfastOrders] ([BreakfastIdentifier], [GuestIdentifier], [OrderDate]) VALUES (1, 1, CAST(N'2019-07-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[BreakfastOrders] ([BreakfastIdentifier], [GuestIdentifier], [OrderDate]) VALUES (2, 1, CAST(N'2019-07-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[BreakfastOrders] ([BreakfastIdentifier], [GuestIdentifier], [OrderDate]) VALUES (3, 2, CAST(N'2019-07-26T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BreakfastOrders] OFF
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([GuestIdentifier], [RoomIdentifier], [FirstName], [LastName]) VALUES (1, 2, N'Karen', N'Payne')
INSERT [dbo].[Guests] ([GuestIdentifier], [RoomIdentifier], [FirstName], [LastName]) VALUES (2, 1, N'Joe', N'Smith')
SET IDENTITY_INSERT [dbo].[Guests] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomIdentifier], [RoomFloor], [RoomDesginator], [RoomNumber]) VALUES (1, 1, N'A', 101)
INSERT [dbo].[Rooms] ([RoomIdentifier], [RoomFloor], [RoomDesginator], [RoomNumber]) VALUES (2, 1, N'A', 102)
INSERT [dbo].[Rooms] ([RoomIdentifier], [RoomFloor], [RoomDesginator], [RoomNumber]) VALUES (3, 1, N'A', 103)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
ALTER TABLE [dbo].[BreakfastOrders] ADD  CONSTRAINT [DF_BreakfastOrders_OrderDate]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[BreakfastOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_BreakfastOrderItems_BreakfastItems] FOREIGN KEY([ItemIdentifier])
REFERENCES [dbo].[BreakfastItems] ([ItemIdentifier])
GO
ALTER TABLE [dbo].[BreakfastOrderItems] CHECK CONSTRAINT [FK_BreakfastOrderItems_BreakfastItems]
GO
ALTER TABLE [dbo].[BreakfastOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_BreakfastOrderItems_BreakfastOrders1] FOREIGN KEY([BreakfastIdentifier])
REFERENCES [dbo].[BreakfastOrders] ([BreakfastIdentifier])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BreakfastOrderItems] CHECK CONSTRAINT [FK_BreakfastOrderItems_BreakfastOrders1]
GO
ALTER TABLE [dbo].[BreakfastOrders]  WITH CHECK ADD  CONSTRAINT [FK_BreakfastOrders_Guests1] FOREIGN KEY([GuestIdentifier])
REFERENCES [dbo].[Guests] ([GuestIdentifier])
GO
ALTER TABLE [dbo].[BreakfastOrders] CHECK CONSTRAINT [FK_BreakfastOrders_Guests1]
GO
ALTER TABLE [dbo].[Guests]  WITH CHECK ADD  CONSTRAINT [FK_Guests_Rooms1] FOREIGN KEY([RoomIdentifier])
REFERENCES [dbo].[Rooms] ([RoomIdentifier])
GO
ALTER TABLE [dbo].[Guests] CHECK CONSTRAINT [FK_Guests_Rooms1]
GO
USE [master]
GO
